@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.footer
.header{
  display: flex;
  justify-content: space-between;
  padding: 16px;
}


.left-links{
  display: flex;
  gap: 24px;

}
.right-links{
  display: flex;
  gap: 24px;
  justify-content: flex-end; 
  
}

img {
  width: 600px;
  display: flex;
  justify-content: center;
  
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  flex-direction: column;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
